@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
}

.container {
    max-width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1295px;
    }
}

.animate-spin {
    animation: spin 7s linear infinite;
}

.btn-primary {
    border-radius: 0.5rem;
    border-width: 1px;
    background-color: rgba(8, 8, 8, 0.95);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.btn-primary:hover {
    border-color: rgba(8, 8, 8, 0.4);
    background-color: transparent;
    --tw-text-opacity: 1;
    color: rgb(8 8 8/var(--tw-text-opacity));
}

@media (min-width: 768px) {
    .btn-primary {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

.btn-primary-outline {
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: rgba(8, 8, 8, 0.4);
    background-color: transparent;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(8 8 8/var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.btn-primary-outline:hover {
    border-color: rgba(8, 8, 8, 0.95);
    background-color: rgba(8, 8, 8, 0.95);
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.group:hover .group-hover\:bottom-6 {
    bottom: 1.5rem;
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) translateY(-10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) translateY(10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) scale(1);
    }
}

.group:hover .group-hover\:animate-arrow-move-up {
    animation: moveUp 0.8s linear;
}

.group:hover .group-hover\:bg-black-500 {
    background-color: rgba(8, 8, 8, 0.04);
}

.group:hover .group-hover\:fill-yellow {
    fill: #FFE600;
}

.group:hover .group-hover\:stroke-white {
    stroke: #fff;
}

.group:hover .group-hover\:text-orange {
    --tw-text-opacity: 1;
    color: rgb(255 147 48/var(--tw-text-opacity));
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) translateY(-10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) translateY(10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) scale(1);
    }
}

@media (min-width: 768px) {
    .btn-primary-outline {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

canvas {
    margin: 0;
    padding: 0;
    height: 600px !important;
}

@keyframes wave {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
}

.waving {
    animation: wave 0.5s ease-in-out infinite;
    cursor: pointer;
}

.text-orange {
    --tw-text-opacity: 1;
    color: rgb(255 147 48/var(--tw-text-opacity));
}

.before\:bg-primary::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(255 182 70/var(--tw-bg-opacity));
}

.paragraph {
    font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: rgba(8, 8, 8, 0.6);
}

.font-Inter {
    font-family: "Inter", sans-serif;
}

.font-Syne {
    font-family: "Syne", sans-serif;
}

.font-sans {
    font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hover\:text-orange:hover {
    --tw-text-opacity: 1;
    color: rgb(255 147 48/var(--tw-text-opacity));
}

.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(255 233 217 / var(--tw-bg-opacity));
}

.tab-btn {
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(8 8 8/var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.tab-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(8 8 8/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

@media (min-width: 992px) {
    .tab-btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

.tab-btn.active {
    --tw-bg-opacity: 1;
    background-color: rgb(8 8 8/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.paragraph {
    font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: rgba(8, 8, 8, 0.6);
}

.strock-text {
    font-family: "Syne", sans-serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    text-shadow: 1px 1px 0 rgba(8, 8, 8, 0.4), -1px -1px 0 rgba(8, 8, 8, 0.4), 1px -1px 0 rgba(8, 8, 8, 0.4), -1px 1px 0 rgba(8, 8, 8, 0.4), 1px 1px 0 rgba(8, 8, 8, 0.4);
}

.featured-properties {
    background-color: rgba(8, 8, 8, 0.04);
}